<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Worst website!</h1>
    <p>
      Please first <a href="/login">login</a> and the go to
      <a href="/admin">Dashboard</a>.
    </p>
  </body>
</html>
