<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Name</title>
  </head>
  <body>
    <p>What is your name?</p>
    <form action="/hello" method="GET">
      <input type="text" name="name" />
      <input type="submit" value="Say hello!" />
    </form>
  </body>
</html>
